$color-black_dark: #2F2928; // TEXT
$color-black_medium:#635E5E; // FORM LABEL
$color-black_light:#A19E9E; 

$color-grey_basic: #707070;

$color-lightgrey_dark:#CECAC7; // FORM PLACEHOLDER, BORDERS
$color-lightgrey_medium:#DAD7D5;
$color-lightgrey_light:#E9E7E6;

$color-pink_dark: #DB7F8E; // BUTTON
$color-pink_medium: #E9BCBE; // INPUTS 
$color-pink_light: #FEFCFC; // BACKGROUND

$shadow-light: 2px 2px 10px rgba(0,0,0,0.2);