<ul class="filter">
    <li class="text__4 text__3-lora filter__item">Brand: <span>All ▾</span></li>
    <li class="text__4 text__3-lora filter__item">Price: <span>0 - 2495 dkk</span></li>
    <li class="text__4 text__3-lora filter__item">Rating: <span>All ▾</span></li>
    <li class="text__4 text__3-lora filter__item">Ingredients</li>
</ul>