<ul class="nav nav__ul-container">
    <li class="nav__li-item text__3 text__3-lato">SKIN CARE</li>
    <li class="nav__li-item text__3 text__3-lato">MAKEUP</li>
    <li class="nav__li-item text__3 text__3-lato">HAIR</li>
</ul>