// Authentication 

.authenticate {
    display: grid;
    grid-template-columns: 2fr 2fr;

    &__section-left {
        text-align: center;
        h1 {
            margin: 2rem 0;
            margin-top: 10rem;
        }

        h3 {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }


        .form__group {
            width: 40%;
            margin: 0 auto;

            input::placeholder {
                text-align: center;
            }
        }
    }

    &__section-right {
        height: 100vh;

        video {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

// Shop 

.shop {
    margin: 0 10rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            display: inline-block;
        }
    }

    section {
        width: 33%;
    }

    &__section-right {
        display: flex;
        justify-content: flex-end;

        a:last-of-type {
            margin-right: 0;
        }
    }

    &__section-center {
        display: flex;
        justify-content: space-around;
    }

    &__section-left, &__section-right {
        margin-top: 0.5rem;
        
        a {
            margin-right: 3rem;
            color: $color-black_dark;
            text-decoration: none;
        }

        .icon {
            height: 1.5rem;
            width: 1.5rem;
            margin-left: 0.5rem;
            padding-top: 0.25rem;
            background-size: cover;

            &-basket {
                background-image: url("../assets/icons/basket.png");
            }

            &-search {
                background-image: url("../assets/icons/search.png");
            }

            &-messages {
                background-image: url("../assets/icons/messaging.png");
            }

            &-logout {
                background-image: url("../assets/icons/logout.png");
            }
        }
    }

    &__main {
        h1 {
            text-align: center;
            margin: 3rem 0;
        }
    }

    &__products {
        h2 {
            text-align: center;
            margin: 2rem 0;
        }
    }

    .products__container-articles {
        margin-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .products__container-article {
            margin-bottom: 2.5rem;
        }
    }
}

