.nav {
   text-align: center;
   margin-top: 0.5rem;
   
   ul {
       display: flex;
       justify-content: space-between;
   }

    &__li-item {
        display: inline;
        margin: 0 1.5rem;
    }
}